@font-face {
  font-family: chango;
  src: url(font/Chango-Regular.ttf);
}

@font-face {
  font-family: Noto Sans;
  src: url(font/NotoSans-Bold.ttf);
}

body {
  background-color: #ffff;
  background: rgb(227, 193, 231);
  background: radial-gradient(circle, rgba(227, 193, 231, 1) 0%, rgba(222, 130, 202, 1) 46%, rgba(223, 85, 177, 0.626) 100%);

}

h2 {
  text-align: center;
  font-family: Noto Sans;
  color: #ffffff;
  font-size: 60px;
}



.container {
  width: 1200px;
  height: 500px;
  border-radius: 19px;
  text-align: center;
  background-color: #ffffff84;
  display: flex;
  margin-left: 15vh;
  
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.552);
}

/* Começo de botão */
.separador{
  width: 170px;
  height: 170px;
  background-color: #ffffff00;
}
.scene {
  width: 15em;
  justify-content: center;
  align-items: center;
 }
 
 .cube {
  color: #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
 }
 

.cube, .cube{
  margin-left: 25vh;
  margin-top: 30vh;
}

 .cube:hover {
  transform: rotateX(-90deg);
 }
 
 .side {
  box-sizing: border-box;
  position: absolute;
  height: 5em;
  width: 15em;
  text-align: center;
  /* text-transform: uppercase; */
  padding-top: 2.2em;
  font-weight: bold;
 }
 
 .top {
  background: rgb(224, 126, 190);
  color: #ffffff;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
  box-shadow: inset 0 0 0 5px #fff;
 }
 
 .front {
  background: #d63dab;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
 }
/* fim de botão


/* começo da imagem presente */
.imagem-trevo-rosa{
  display: flex;
  height: 120px;
  width: 140px;
  margin-left: 85vh;
 margin-top: -10%;
}

a {
  text-decoration: none;
  color: #fff;
}
